body {
    border-top: 5px solid #f07c17;
    padding: 30px;
    font: 24px Verdana, sans-serif;
    color: #666;
    background-color: #333;    
}

* {
    outline: 0px solid blue;
}

h1 {
    margin: 45px 0 30px;
    font-size: 200%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 10px
}

img {
    padding: 0px 0px 40px 0px;
}

.features {
    padding: 10px 30px 30px 30px;
    margin: -10px 0 0 0;
}

ul {
    font-size: 16px;
    font-weight: normal;
    padding-left: 40px;
    padding-top: 10px;
    line-height: 2;
}

ul > li {
}

.orange {color: #f07c17;}

p {
    margin: 0;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
    line-height: 2;
}

.top{margin-top: 0;}

.bigbox {
    padding: 30px;
    border: 0px solid #ccc;
    background-color: #fff;
    
    -webkit-box-shadow: 5px 5px 5px #000;
            box-shadow: 5px 5px 5px #000;
}

.box {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
